:root{
    --gray-color:gray;
    --red-color:red;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

.layout{
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar tags"
    "sidebar content";
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 5% 85%;
    height: 100vh;
    width: 100%;
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns: 30% 60% 20%;
    padding: 0 20px;
   
}

header i{
    font-size: 2.5rem;

}

/*logo color*/
.fa-youtube{
    color: var(--red-color);
}

.fa-bars{
    color: var(--gray-color);
}

button{
    background: transparent;
    border: none;
}
.header--logo{
    width: 20%;
    display: flex;
    justify-content: space-between;
    justify-self: left;
    align-self: center;

}

.header--search{
    place-self: center;
    width: 100%;
}

.header--form{
    display: flex;
}

.header--input{
    width: 90%;
    display: block;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--gray-color);

}

.header--form .header--button{
    margin-left: 10px;

}

.header--button__gray{
    background-color: var(--gray-color);
    padding: 5px;
}


.header--profile{
    justify-self: right;
    align-self: center;
}

.header--profile{
    display: flex;
    align-content: space-between;
    width: 100%;
}

aside{
    grid-area: sidebar;
    height: 100%;
    width: 100%;
}

.aside--list{
    padding: 20px 10px;
}

.aside--list li a{
   color: #030303;
}

.aside--list li:hover{
    opacity: 0.5;
}
.tags{
    display: flex;
    grid-area: tags;
}
.tags li{
    margin: 0 10px;
    padding: 5px 10px;
    height: max-content;
    border-radius: 20px;
    background-color: var(--gray-color);
}

.tags li:hover{
    background-color: black;
    color: white;
}

.videos{
    grid-area: content;
}

.videos-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25px  310px;
    column-gap: 20px;
    row-gap: 10px;
}

.videos--title{
    grid-row: 1 / 2;
}

.video{
    grid-row: 2 / 3;
}

.video--cover{
    position: relative;
}

.video--cover img{
    width: 100%;
    height: 150px;
}
.video--cover{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
}
.videos--details{
display: flex;
padding: 15px;
font-size: 1.6rem;
}

.videos--details{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.videos--details h2, .videos--details p{
    margin-bottom: 10px;
}